* {
	/* `otf-font-awesome` is required to be installed for icons */
	font-family: monospace;
	font-size: 13px;
}

window#waybar {
	background-color: rgba(137, 70, 166, 0.5);
	border-bottom: 3px solid rgba(183, 98, 193, 0.5);
	color: rgb(255, 205, 221);
	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

#workspaces button {
	padding: 0 4px;
	background-color: transparent;
	color: rgb(255, 205, 221);
	/* Use box-shadow instead of border so the text isn't offset */
	box-shadow: inset 0 -3px transparent;
	/* Avoid rounded borders under each workspace name */
	border: none;
	border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
	background: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#workspaces button.focused {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#workspaces button.urgent {
	background-color: rgba(137, 70, 166, 0.5);
}

#mode {
	background-color: rgba(183, 98, 193, 0.5);
	border-bottom: 3px solid rgb(255, 205, 221);
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
	padding: 0 6px;
	color: rgb(255, 205, 221);
}

#window,
#workspaces {
	margin: 0 6px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

#battery.charging,
#battery.plugged {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

@keyframes blink {
	to {
		background-color: rgba(183, 98, 193, 0.5);
		box-shadow: inset 0 -3px rgb(255, 205, 221);
	}
}

#battery.critical:not(.charging) {
	animation-name: blink;
	animation-duration: 0.5s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

#network.disconnected {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#pulseaudio.muted {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#temperature.critical {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#tray > .passive {
	-gtk-icon-effect: dim;
}

#tray > .needs-attention {
	-gtk-icon-effect: highlight;
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#idle_inhibitor.activated {
	background-color: rgba(183, 98, 193, 0.5);
	box-shadow: inset 0 -3px rgb(255, 205, 221);
}

#custom_notification {
	font-family: "NotoSansMono Nerd Font";
}
